{% extends 'core/base.html' %}

{% block content %}


<h1>Welcome!</h1>
<hr>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
  molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
  numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
  optio, eaque rerum! Provident similique accusantium nemo autem. Veritatis
  obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam
  nihil, eveniet aliquid culpa officia aut! Impedit sit sunt quaerat, odit,
  tenetur error, harum nesciunt ipsum debitis quas aliquid. Reprehenderit,
  quia. Quo neque error repudiandae fuga? Ipsa laudantium molestias eos
  sapiente officiis modi at sunt excepturi expedita sint? Sed quibusdam
  recusandae alias error harum maxime adipisci amet laborum. Perspiciatis
  minima nesciunt dolorem!</p>
<br>

<b>This is WTForm example!</b>
<br><br>

{% if form %}

<form method="POST" action="/">
  {{ form.csrf_token }}
  {{ form.name.label }} {{ form.name(size=20) }}
  <br>
  {{ form.last_name.label }} {{ form.last_name(size=20) }}
  <br><br>
  <input type="submit" value="Send">
</form>

{% endif %}


<section class="container text-center">
  <form method="GET" action="{{url_for('Home.api_call')}}">
    <input type="submit" value="Request API">
  </form>
  <form method="GET" action="{{url_for('Home.api_call_fail')}}">
    <input type="submit" value="Request API Fail">
  </form>
</section>




{% if response %}
<p id="api-response">
  {{ response }}
</p>
{% endif %}

{% endblock %}